@model ProjectMVC_FoxIT.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<div class="text-center">
    <h1>Edit</h1>
    <h4>WorkOrder</h4>
</div>
<hr />
<div class="row">
    <form asp-action="Edit" method="post" autocomplete="off" class="btn btn-md container shadow-lg">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerId" />
            <div class="form-group col-4">
                <label asp-for="Name" class="control-label"></label>
                <input type="text" class="form-control shadow" asp-for="Name" autocomplete="off" placeholder="Customer name" list="CustomersListName">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <datalist id="CustomersListName">
                @foreach (var customer in ViewData["CustomersListName"] as SelectList)
                {
                    <option value="@customer.Value" />
                }
            </datalist>
            <div class="form-group col-4">
                <label asp-for="Address" class="control-label"></label>
                <input type="text" class="form-control shadow" asp-for="Address" autocomplete="off" placeholder="Address" list="CustomerListAddress">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <datalist id="CustomerListAddress">
                @foreach (var customer in ViewData["CustomerListAddress"] as SelectList)
                {
                    <option value="@customer.Value" />
                }
            </datalist>
            <div class="form-group col-4">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control shadow" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control shadow" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control shadow" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-4">
                <label asp-for="Web" class="control-label"></label>
                <input asp-for="Web" class="form-control shadow" class="form-control" />
                <span asp-validation-for="Web" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-4">
                <label asp-for="Edb" class="control-label"></label>
                <input type="text" class="form-control shadow" asp-for="Edb" autocomplete="off" placeholder="Edb" list="CustomerListEdb">
                <span asp-validation-for="Edb" class="text-danger"></span>
            </div>
            <datalist id="CustomerListEdb">
                @foreach (var customer in ViewData["CustomerListEdb"] as SelectList)
                {
                    <option value="@customer.Value" />
                }
            </datalist>
            <div class="form-group col-4">
                <label asp-for="IsActive" class="control-label"></label>
                @Html.EditorFor(model => model.IsActive, new { htmlAttributes = new { @class = "form-control shadow" } })  @*bool prop IsActive now edtable*@
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>
        @*<div class="form-group">
            <label asp-for="CreatedBy" class="control-label"></label>
            <input asp-for="CreatedBy" class="form-control" />
            <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="CreatedOn" class="control-label"></label>
            <input asp-for="CreatedOn" class="form-control" />
            <span asp-validation-for="CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="UpdatedBy" class="control-label"></label>
            <input asp-for="UpdatedBy" class="form-control" />
            <span asp-validation-for="UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="UpdatedOn" class="control-label"></label>
            <input asp-for="UpdatedOn" class="form-control" />
            <span asp-validation-for="UpdatedOn" class="text-danger"></span>
            </div>*@
        <div class="form-group mt-5">
            <a asp-action="Index" class="btn btn-md btn-secondary btn-lg float-left shadow-lg"><i class="fas fa-arrow-circle-left"></i> Back to List</a>
            <button type="submit" value="Save" class="btn btn-success btn-lg float-right shadow-lg">Save  <i class="fas fa-save"></i></button>
        </div>
    </form>
</div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
