@model Register;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-action="Register" method="post">
    <div>
        <div class="col-10 offset-1">

            <h2 class="text-center">Регистрирај се</h2>
            <br />

            <div class="form-group col-lg-6 col-md-6 col-12">
                <label asp-for="Email">Емаил Адреса</label>
                <input type="email" asp-for="Email" class="form-control col-12" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-12">
                <label asp-for="Password">Лозинка</label>
                <input type="password" asp-for="Password" class="form-control col-12" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group col-lg-6 col-md-6 col-12">
                <label asp-for="Role">Тип на корисник</label>
                <select asp-for="Role" asp-items="@Model.Roles" class="form-control col-12">
                    <option value="">Одберете поле</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <p class="col-12"><button type="submit" class="btn btn-success" style="width: 50%">Регистрирај се</button></p>

            <p class="col-12 text-center text-danger">@Html.ValidationMessage("Error")</p>
            <h4 class="col-12 text-center text-success">@Html.ValidationMessage("Success")</h4>
        </div>
    </div>
</form>